xml { display: none; }
field[name="OP"] { display : none }
body { display: flex; flex-direction: column; height : 100vh; }
#navbar { height: 56px; }
main { flex-grow: 1; }
#blocklyArea { height: 100%; background-color: #eeeeee; }
a.navbar-brand { margin-left: 1em; }
.btn { margin-left: 0.3em; }
#load { display: none; }

@media (max-width: 991px) {
  #navbar1 { background-color: white; position: relative; top: 8px; margin-left: -1em; padding: 0.5em 0 0.5em 1em;}
}